{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "layouts": "./src/layouts",
          "models": "./src/models",
          "routes": "./src/routes",
          "styles": "./src/styles",
        }
      }
    ],
    ["babel-plugin-styled-components"],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}